body {
/*  margin: 20px;*/
  text-align: center;
  font-family: 'Lora';
    width:100vw;
    height:100vh;
}

.wrapper {
     background-color: white;
     color: black;
     display: grid;
     grid-template-areas:
     "header"
     "sidebar"
     "content"
     "sidebar2"
     "footer"
  }

.sidebar {
  grid-area: sidebar;
	}

.menu {
    padding:0px;
    display:inline;
    
}
.menu li {
  display: inline;  
  border-radius: 3px;
  
}


.menu-sidebar>li {
    display:inline-block;
    padding-right:10px
}

.menu li a {
    display:inline-block;
   text-decoration: none;
   color: white;
    font-family:"Montserrat";
    font-size:1.35em;
    font-weight:600;
}

.menu li a:hover {
    color: #13294B;
}

div.box.sidebar{
   
}


.sidebar2 {
grid-area: sidebar2;
 	}


    img {
         max-width: 140%;
    }


.content {
grid-area: content;
/*    width: 60%;*/
    color: #4B9CD3;
        
        
	}


.footer {
		grid-area: footer;
	}


.logoheader {
    padding-top:3%;
}

@media only screen and (min-width: 500px)  {

  .wrapper {
        min-width:100vw;
      grid-template-columns:100vw;
      grid-template-rows:auto;
		grid-template-areas:
        "sidebar"
        "content"
		"sidebar2"
		"footer";
	}      
     
    .sidebar {
        grid-area:
    }
        
    .menu li {
      display: inline-block;  
      padding: 10px;   
      border-radius: 5px;   
      margin: 20px;

    }

    .menu li a {
       text-decoration: none;
          color: white;
    }

    .menu li:hover {
      background: #4B9CD3;
        color: #13294B;
    }

    .menu li ul {
      display: none;
      padding: 0;
      position: absolute;
     }


    .sidebar
     {
      background-color: #4B9CD3;
    }

    
}



@media only screen and (min-width: 600px)   {
		
    .wrapper {
min-width:100vw;
min-height: 100vh;
    grid-template-columns: 20% 40% 40%;
        grid-template-rows:92% 8%;
         grid-gap: 6px;
          grid-template-areas:
          "sidebar content sidebar2"
		  "footer  footer  footer";
        		}
	}


.sidebar {
  background-color: #4B9CD3;
}


img.box {
    max-width:120px;
    
}

img.subcontent {
max-width:100%;    
    
}
.content {
    grid-area:content;
    

}

.sidebar2 {
    grid-area:sidebar2;
    
}
.menu li{
display:flex;
flex-direction:column;
align-items:center;
}


a:link {
    color: white;
    text-decoration: none;
}


/*
.menu li a:hover {
  background: #4B9CD3;
    color: #13294B;
}
*/

.footer {
   
    width: 100%;
    background-color: #767676;
    color: white;
    padding-top:1%;
}
.center {
    text-align:center;
     display: flex;
    justify-content: space-around;;
}


.fab {
    margin-left:30px;
}

a:hover {
    color: #13294B;
}


